<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.jd.jr.tradeCenter.model.Account" alias="Account"/>
        <typeAlias type="com.jd.jr.tradeCenter.model.FinanceAssets" alias="financeAssets"/>
    </typeAliases>
</configuration>