<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>
<head>
    <meta charset="UTF-8">
    <title>用户界面</title>
</head>
<script>
    function audit(var yesOrNo) {
        if(yesOrNo = "yes"){
            windo
        }
    }
</script>
<body>
<table align="center" border="1" cellspacing="0" cellpadding="0" >
    <tr><td >欢迎您：$!userName   你所在的角色组是：$!roles</td></tr>
    &nbsp;
    &nbsp;
    &nbsp;
    <table align="center" border="1" cellspacing="0" cellpadding="0" >
        <tr><td bgcolor="#deb887">待办列表：</td></tr>
        <tr bgcolor="#deb887"><td>流程ID</td><td>节点ID</td><td>当前节点名称</td><td>资产ID</td><td>项目登记员</td><td>备注</td><td>操作</td></tr>
        #if($!{taskList})
            #foreach($task in $!{taskList})
                <tr><td>$!{task.progressInstanceID}</td><td>$!{task.taskID}</td><td>$!{task.taskName}</td><td>$!{task.assetID}</td><td>$!{task.ipnuterGroup}</td><td>$!{task.notices}</td><td><a href="auditAgree.do?taskID=$!{task.taskID}&userID=$!{userID}" >同意</a><a href="auditRefuse.do?taskID=$!{task.taskID}&userID=$!{userID}">拒绝</a></td></tr>
            #end
        #end
    </table>

    <table align="center" border="1" cellspacing="0" cellpadding="0" >
        <tr><td bgcolor="#deb887">已办列表：</td></tr>
        <tr bgcolor="#deb887"><td>流程ID</td><td>执行的任务</td><td>开始时间</td><td>处理时间</td></tr>
        #if($!{doneList})
            #foreach($task in $!{doneList})
                <tr><td>$!{task.progressInstanceID}</td><td>$!{task.activityName}</td><td>$!{task.startTime}</td><td>$!{task.endTime}</td></tr>
            #end
        #end
    </table>
</table>



</body>
</html>
